/* resets */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    outline-style: none;
    font-family: sans-serif;
    list-style: none;

}


/* Main CSS */
html {
    width: 100%;
    min-height: 100%;
    background-image: url('../images/mosaic.png');
}

#wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    
}

#content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    max-width: 1100px;
  
}

.panel {
    width: 95%;
    margin: 0 auto;
    opacity: .98;
}

.panel2 {
    width: 95%;
    margin: 0 auto;
    opacity: .98;
}

header {
    height: 300px;
    position: relative;
    background: rgba(255, 255, 255, .3);
    background-image: url(../images/stage_curtain_theater_red.png);
    background-position: center 0;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%
}

header > h1 {
    width: 100%;
    height: 300px;
    line-height: 200px;
    text-align: center;  
    font-size: 5rem
}

main{
    height: 500px;
    position: relative;
    background: rgba(230, 227, 227, 0.9);
}

#mainFooter {
    height: 5rem;
    margin-bottom: 1rem;
    background: #073642;
}

#mainFooter p {
    height: 100%;
    line-height: 5rem;
    text-align: center;
}



/* Navigation */
#nav {
    height: 5rem;
    margin: 0 auto 1rem;
    background: rgba(230, 227, 227, 0.9); 
}

#nav > ul {
    padding-bottom: .25rem;
    text-align: center;
    height: 100%;
}

#nav > ul > li{
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    border: 3px ridge red ;
    width: 20%;
    font-size: 2rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

#accountInfo {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

#acctInfo > li {
    padding: 20px;
}


#accountImage {
    display: inline-block;
    margin-right:20px;
    margin-top: 20px;
    float: right;
}

#accountImage > img {
    width: 200px;
    height: auto;
}