/* resets */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    outline-style: none;
    font-family: sans-serif;
    list-style: none;
}


/* Main CSS */
html {
    width: 100%;
    min-height: 100%;
    background-image: url('../images/mosaic.png');
}

#wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

#content {
    width: 1105px;
    height: 100%;
    margin: 0 auto;

}


.panel {
    width: 95%;
    margin: 0 auto;
    opacity: .98;
}

.panel2 {
    height: 100%;
    width: 95%;
    margin: 0 auto;
    opacity: .98;
}

.panel3 {
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    opacity: .98;
}


header {
    height: 300px;
    position: relative;
    background: rgba(255, 255, 255, .3);
    background-image: url(../images/stage_curtain_theater_red.png);
    background-position: center 0;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%
}

    header > h1 {
        width: 100%;
        height: 300px;
        line-height: 200px;
        text-align: center;
        font-size: 5rem
    }

main {
    height: 500px;
    position: relative;
    background: rgba(230, 227, 227, 0.9);
}

#mainFooter {
    height: 5rem;
    margin-bottom: 1rem;
    background: #073642;
}

    #mainFooter p {
        height: 100%;
        line-height: 5rem;
        text-align: center;
    }



/* Navigation */
#nav {
    height: 5rem;
    margin: 0 auto 1rem;
    background: rgba(230, 227, 227, 0.9);
}

    #nav > ul {
        padding-bottom: .25rem;
        text-align: center;
        height: 100%;
    }

        #nav > ul > li {
            display: inline-block;
            height: 4rem;
            line-height: 4rem;
            border: 3px ridge red;
            width: 20%;
            font-size: 2rem;
            margin-bottom: .5rem;
            margin-top: .5rem;
        }

#accountInfo {
    display: inline-block;
    
}

    #accountInfo > .card-body {
        height: 588px;
    }

#movieShowcase {
    display: inline-block;
    float: right;
}
.innerContent {
    padding: 20px;
    width: 875px;
    margin: auto;
}

#createEvent {
    display: inline-block;

}

.acctInfo > li {
    padding: 10px;
}



#movies img, #movie img {
    width: 100%;
}

@media(min-width:960px) {
    #movies .col-md-3 .well {
        height: 390px;
    }

    #movies .col-md-3 img {
        height: 240px;
    }
}

/*Login Page*/
.forms {
    color: whitesmoke;
    position: relative;
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.form-login {
    display: inline-block;
    float: left;
    margin-top: 20px;
}

.form-create {
    display: inline-block;
    float: right;
    margin-top: 20px;
}

.textBox {
    padding-bottom: 20px;
}

.form-control-password {
    display: inline-block;
    width: 80%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #A9BDBD;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-control-custom {
    display: inline-block;
    width: 80%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #A9BDBD;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

#map {
    height: 410px;
    width: 600px;
}

#mapContainer {
    display: inline-block;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

    #pac-input:focus {
        border-color: #4d90fe;
    }

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}

.nav-tabs .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.nav-tabs {
    align-content: center;
}

.list-group{

}

#groupList {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
}
.list-group li {
    background-color: #073642;
}

.movieDropdown {
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #60797d;
    margin-left: 10.5%;
    margin-right: 10%;
    width: 284px;
    text-align: center;
    box-shadow: 5px 5px 5px grey;
}




.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

    .hovereffect .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: rgba(7,54,56,0.9);
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out
    }

    .hovereffect img {
        display: block;
        position: relative;
        -webkit-transition: all .4s linear;
        transition: all .4s linear;
    }

    .hovereffect h2 {
        
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 17px;
        background: rgba(0,0,0,0.6);
        -webkit-transform: translatey(-100px);
        -ms-transform: translatey(-100px);
        transform: translatey(-100px);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        padding: 10px;
    }

    .hovereffect a.info {
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid #fff;
        background-color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        position: absolute;
        bottom: 1rem;
        padding: 7px 14px;
    }

        .hovereffect a.info:hover {
            box-shadow: 0 0 5px #fff;
        }

    .hovereffect:hover img {
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    .hovereffect:hover .overlay {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .hovereffect:hover h2, .hovereffect:hover a.info {
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-transform: translatey(0);
        -webkit-transform: translatey(0);
        transform: translatey(0);
    }

    .hovereffect:hover a.info {
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
    }

    .hovereffect p{
        color: #fff 
    }

    .link1{
        left: 1rem;
    }

    .link2{
        right: 1rem;
    }

    .text-small{
        font-size: .9em;
    }

    .changePassword {
        padding-top: 15px;
        
        margin-left: 30%;
       
    }

#welcomeTextHolder {
    padding-left: 10px;
}

#groupCodeHolder {
    display: block;
    float: inherit;
    padding: 40px;
}

.jumbotron-modify{
    margin-top: 20px;
}
